/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h2 {
    color: #333;
}

/* Estilo para el menú principal */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #5cb85c;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #4cae4c;
}

/* Estilos para los formularios */
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Estilos para las listas de resultados */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 16px;
}

a {
    color: #5cb85c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #4cae4c;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

/* Estilos para los inputs de tipo radio */
input[type="radio"] {
    margin-right: 10px;
}

label[for="fisico"],
label[for="magnetico"] {
    margin-right: 20px;
}
