{% extends "layout.html"  %}

{% block content %}
<div>
    <h1 class="display-4 fw-bold text-body-emphasis">Inicio</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Carrera Ingenieria de Sistemas de la Universidad Publica de El Alto</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden">
      <div class="container px-5">
        <img src="static/img/torre-tecn-upea.jpg" class="img-fluid border rounded-5 shadow-lg mb-4" alt="Example image" width="80%" >
      </div>
    </div>
</div>
{% endblock %}