{% extends "layout.html"  %}

{% block content %}
<main>
    <div class="row g-8">
        <div class="py-9 text-center">
            <img class="d-block mx-auto mb-4" src="static/img/creadicon.png" alt="" width="72">
            <h3 class="mb-3">Registro de Producto</h3>
            <form class="needs-validation col-3" novalidate="" method="POST">
                <hr class="my-4">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="producto" class="form-label">Producto</label>
                        <input type="text" class="form-control" id="producto" name="producto"  placeholder="" required>
                        <div class="invalid-feedback">
                            Se requiere un dato válido.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="categoria" class="form-label">Categoria</label>
                        <select class="form-select" id="categoria" name="categoria" required>
                            <option >seleccionar...</option>
                            <option value="Electrónica">Electrónica</option>
                            <option value="Ropa">Ropa</option>
                            <option value="Alimentos">Alimentos</option>
                            <option value="Electrodomestico">Electrodomestico</option>
                        </select>
                        <div class="invalid-feedback">
                            Se requiere un dato válido.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="existencia" class="form-label">Existencia</label>
                        <input type="number" class="form-control" id="existencia" name="existencia" placeholder="" required>
                        <div class="invalid-feedback">
                            Se requiere un dato válido.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="number" class="form-control" step="0.01" id="precio" name="precio" placeholder="" required>
                        <div class="invalid-feedback">
                            Se requiere un dato válido.
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
            </form>
        </div>
    </div>
  </main>
{% endblock %}
